<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>
<h1>About page</h1>
<h4></h4>
<!--  Software engineering is in the field of creation, and that is why I pursue the life of a developer. I want the ability to create. From the ground up!! Let's build it from scratch, and let's make it great. I feel like the life of a developer gives you this freedom. From the projects you work on, to the community you're a part of.. This career has it all, without limit to what you can accomplish. I've been hooked from the start, and there's only going up. -->
</body>
</html>